In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.utils import to_categorical

In [51]:
# Load your dataset
data = pd.read_csv('train.csv')

In [52]:
# Identify and handle missing values
null_counts = data.isnull().sum()
print(null_counts)

UID        0
col_0    139
col_1     86
col_2      0
col_3      0
col_4      0
col_5      0
col_6    112
y          0
dtype: int64

In [53]:
data = data.drop('UID', axis=1)

In [54]:
data.head()

  col_0 col_1 col_2 col_3  col_4 col_5 col_6       y
0   A 0    B0    C2    D1    100    E1    F2  237000
1    A1    B0   C11    D4    100    E4    F2   86193
2    A0    B0   C18    D0      0    E0    F2  169200
3    A2    B0   C11    D1    100    E1    F2   58000
4    A0    B0   C67    D1      0    E1    F2  235000

In [55]:
null_counts = data.isnull().sum()
print(null_counts)

col_0    139
col_1     86
col_2      0
col_3      0
col_4      0
col_5      0
col_6    112
y          0
dtype: int64

In [56]:
label_encoders = {}
for col in ['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

In [57]:
data.head()

   col_0  col_1  col_2  col_3  col_4  col_5  col_6       y
0      5      3     12      1      2      1     10  237000
1     11      3      3     32      2     33     10   86193
2      9      3     10      0      0      0     10  169200
3     13      3      3      1      2      1     10   58000
4      9      3     63      1      0      1     10  235000

In [58]:
null_counts = data.isnull().sum()
print(null_counts)

col_0    0
col_1    0
col_2    0
col_3    0
col_4    0
col_5    0
col_6    0
y        0
dtype: int64

In [59]:
# Split the data into features (X) and target (y)
X = data.drop('y', axis=1)
y = data['y']
y = y/1000000

In [60]:
from sklearn.preprocessing import MinMaxScaler
# Normalize the data using MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [61]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
# Reshape features for LSTM input (samples, time steps, features)
X_train = np.array(X_train).reshape(X_train.shape[0], 1, X_train.shape[1])
X_test = np.array(X_test).reshape(X_test.shape[0], 1, X_test.shape[1])

In [63]:
# Build the LSTM model
model = Sequential()
model.add(LSTM(256, input_shape=(X_train.shape[1], X_train.shape[2])))
# model.add(LSTM(128, input_shape=(X_train.shape[1], X_train.shape[2])))
# model.add(LSTM(64, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(16))
model.add(Dense(1))

In [64]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [65]:
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
66/66 [==============================] - 3s 7ms/step - loss: 0.0042 - accuracy: 0.0000e+00
Epoch 2/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0033 - accuracy: 0.0000e+00
Epoch 3/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0032 - accuracy: 0.0000e+00
Epoch 4/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0032 - accuracy: 0.0000e+00
Epoch 5/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0032 - accuracy: 0.0000e+00
Epoch 6/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0033 - accuracy: 0.0000e+00
Epoch 7/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 8/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 9/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 10/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0032 - accuracy: 0.0000e+00
Epoch 11/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0032 - accuracy: 0.0000e+00
Epoch 12/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 13/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 14/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 15/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 16/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 17/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 18/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 19/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 20/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 21/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 22/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 23/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 24/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 25/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 26/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 27/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 28/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 29/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 30/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 31/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 32/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 33/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 34/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 35/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 36/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 37/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 38/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 39/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 40/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 41/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 42/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 43/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 44/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 45/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 46/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 47/50
66/66 [==============================] - 0s 7ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 48/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 49/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 50/50
66/66 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00

In [66]:
# Evaluate the model
loss = model.evaluate(X_test, y_test, verbose=0)
print(f'Mean Squared Error on Test Data: {loss}')

# Make predictions
predictions = model.predict(X_test)

Mean Squared Error on Test Data: [0.00341411423869431, 0.0]
17/17 [==============================] - 0s 2ms/step

In [67]:
# Prepare new input data in the same format as your original dataset
# You can create a DataFrame with the same column names and encode text columns
new_data = pd.DataFrame({
    'col_0': ['A0'],
    'col_1': ['B0'],
    'col_2': ['C2'],
    'col_3': ['D1'],
    'col_4': [100],
    'col_5': ['E1'],
    'col_6': ['F2']
})

In [68]:
# Label encode text columns using the same label encoders as before
text_columns = ['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6']
for col in text_columns:
    le = label_encoders[col]
    new_data[col] = le.transform(new_data[col])

In [72]:
# Normalize the new input data using the same MinMaxScaler as before
new_data = scaler.transform(new_data)

# Reshape the new input data for LSTM input (samples, time steps, features)
new_data = np.array(new_data).reshape(1, 1, new_data.shape[1])

# Make predictions with the loaded LSTM model
prediction = model.predict(new_data)


# Print the prediction
print(f'Predicted Output: {prediction[0]*1000000}')

1/1 [==============================] - 0s 13ms/step
Predicted Output: [163453.63855362]