In [1]:
import pandas as pd

In [2]:
%cd  ../

d:\Personal\project_temp\ReliSource\1st_phase\ReliSource

In [3]:
train_data =  pd.read_csv('data/train.csv')
test_data =  pd.read_csv('data/test.csv')
train_data

       UID col_0   col_1 col_2 col_3  col_4 col_5 col_6       y
0        0   A 0      B0    C2    D1    100    E1    F2  237000
1        1    A1      B0   C11    D4    100    E4    F2   86193
2        2    A0      B0   C18    D0      0    E0    F2  169200
3        3    A2      B0   C11    D1    100    E1    F2   58000
4        4    A0      B0   C67    D1      0    E1    F2  235000
...    ...   ...     ...   ...   ...    ...   ...   ...     ...
2623  2623    A1      B0    C2    D1      0    E1    F2  102100
2624  2624    A0   B0       C8    D1      0    E1    F2  129300
2625  2625    A0      BO    C7    D1    100    E1    F2  275300
2626  2626    A0      B0   C11    D1    100    E1    F2  150000
2627  2627    A0      B0    C2    D1    100    E1    F2  191475

[2628 rows x 9 columns]

In [4]:
train_data = train_data.drop_duplicates()

In [5]:
# Function to check if a value is a string
def is_string(value):
    return isinstance(value, str)

# Function to check if a string contains spaces
def contains_spaces(s):
    return ' ' in s

# Loop through all columns and remove trailing whitespace for string columns
# Remove spaces between words in the 'TextColumn'
# Function to remove spaces between words and remove trailing whitespace for object type columns
def rm_spaces(dataframe):
    for column in dataframe.columns:
        if dataframe[column].dtype == 'object':  # Check if the column contains strings
            dataframe[column] = dataframe[column].str.strip()
            dataframe[column] = dataframe[column].str.replace(' ', '')

    return dataframe


def count_string_and_non_string_values(data_frame):

    # Get a list of column names with object (string) data type
    string_columns = data_frame.select_dtypes(include=['object']).columns

    # Initialize lists to store non-string values and their locations
    non_string_values = []
    non_string_locations = []

    # Apply the function to each element in the DataFrame, count the results, and collect non-string values
    string_count = data_frame[string_columns].applymap(is_string).sum().sum()
    for col in string_columns:
        non_string_col = data_frame[col][data_frame[col].apply(lambda x: not is_string(x))]
        non_string_values.extend(non_string_col)
        non_string_locations.extend([(col, idx) for idx in non_string_col.index])

    # Return the counts and non-string values
    return {
        'Count of string values': string_count,
        'Count of non-string values': len(non_string_values),
        'Non-string values': non_string_values,
        'Non-string value locations': non_string_locations
    }

def status_of_space(dataframe):
    # Get a list of column names with object (string) data type
    string_columns = dataframe.select_dtypes(include=['object']).columns


    # Apply the function to each element in the DataFrame and count the results
    string_count = dataframe[string_columns].applymap(is_string).sum().sum()
    non_string_count = dataframe[string_columns].applymap(lambda x: not is_string(x)).sum().sum()

    # Print the counts
    print(f'Count of string values: {string_count}')
    print(f'Count of non-string values: {non_string_count}')

    # Convert mixed columns to string columns
    strdata = dataframe[string_columns].astype(str)

    # Apply the function to each element in the selected columns and sum the results
    count_with_spaces = strdata[string_columns].applymap(contains_spaces).sum().sum()

    # Print the count of strings with spaces
    print(f'Count of strings with spaces: {count_with_spaces}')

def replace_null_with_missing(dataframe):
    return dataframe.fillna("Missing")

def replace_null_with_number(dataframe):
    return dataframe.fillna("-1")

def replace_values_in_columns(df, replacements):
    """
    Replace specified values in the specified columns of a DataFrame.

    Parameters:
    df (DataFrame): The input DataFrame.
    replacements (dict): A dictionary where keys are column names and values are dictionaries
                         specifying old and new values to replace.

    Returns:
    DataFrame: The DataFrame with values replaced in specified columns.
    """
    for column, replace_dict in replacements.items():
        old_value = replace_dict.get('old_value', None)
        new_value = replace_dict.get('new_value', None)
        if old_value is not None and new_value is not None:
            df[column] = df[column].replace(old_value, new_value)
    return df

def split_columns_into_parts(df, columns_to_split):
    """
    Split specified columns into their numerical and string parts in a DataFrame.

    Parameters:
    df (DataFrame): The input DataFrame.
    columns_to_split (list): A list of column names to split.

    Returns:
    DataFrame: The DataFrame with split columns.
    """
    for col in columns_to_split:
        num_part, str_part = zip(*df[col].astype(str).apply(lambda x: ("".join(filter(str.isdigit, x)), "".join(filter(str.isalpha, x)))))
        df[f'{col}_numerical'] = num_part
        df[f'{col}_string'] = str_part
        df.drop(columns=[col], inplace=True)
    
    return df

def remove_string_columns(dataframe):
    dataframe = dataframe.drop(columns=[x for x in dataframe.columns if "string" in x])
    return dataframe

def fixed_data_types(dataframe):
    for c in dataframe.columns:
        dataframe[c] = dataframe[c].astype(int)
    return dataframe

def dataset_processing(dataframe):
    dataframe = rm_spaces(dataframe)
    # dataframe = replace_null_with_missing(dataframe)
    dataframe = replace_null_with_number(dataframe)

    replacements = {
    'col_0': {'old_value': 'AO', 'new_value': 'A0'},
    'col_1': {'old_value': 'BO', 'new_value': 'B0'},
    'col_6': {'old_value': 'FO', 'new_value': 'F0'}
    }
    dataframe = replace_values_in_columns(dataframe, replacements)
    columns_to_split = ['col_0', 'col_1', 'col_2', 'col_3', 'col_5', 'col_6']
    dataframe = split_columns_into_parts(dataframe, columns_to_split)
    dataframe = remove_string_columns(dataframe)
    dataframe = fixed_data_types(dataframe)
    return dataframe

In [6]:
# processed_test_data = dataset_processing(test_data)
# processed_test_data.info()
# processed_test_data.head(60)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UID              1127 non-null   int32
 1   col_4            1127 non-null   int32
 2   col_0_numerical  1127 non-null   int32
 3   col_1_numerical  1127 non-null   int32
 4   col_2_numerical  1127 non-null   int32
 5   col_3_numerical  1127 non-null   int32
 6   col_5_numerical  1127 non-null   int32
 7   col_6_numerical  1127 non-null   int32
dtypes: int32(8)
memory usage: 35.3 KB

,UID,col_4,col_0_numerical,col_1_numerical,col_2_numerical,col_3_numerical,col_5_numerical,col_6_numerical
0,2628,100,0,0,11,1,1,2
1,2629,0,0,0,11,1,1,2
2,2630,100,0,0,11,1,1,2
3,2631,100,0,0,26,1,1,0
4,2632,100,0,0,11,1,1,1
5,2633,100,0,0,2,1,1,2
6,2634,0,0,0,11,1,1,2
7,2635,50,1,1,2,12,11,2
8,2636,0,0,0,11,1,1,0
9,2637,0,0,0,9,1,1,2
10,2638,100,1,0,28,1,1,2
11,2639,100,0,0,6,3,3,1
12,2640,50,1,0,20,6,6,0
13,2641,0,1,0,2,1,1,2
14,2642,100,0,0,15,1,1,2
15,2643,100,0,0,2,1,1,2
16,2644,0,1,1,9,1,1,2
17,2645,100,0,1,2,1,1,2
18,2646,100,0,0,9,1,1,0
19,2647,100,1,1,73,1,1,0
20,2648,100,0,0,46,1,1,2
21,2649,0,0,0,9,1,1,2
22,2650,100,0,0,2,1,1,2
23,2651,100,0,0,11,1,1,2
24,2652,50,1,0,21,4,2,0
25,2653,50,2,0,2,12,11,0
26,2654,100,0,0,2,1,1,2
27,2655,100,2,1,38,67,51,2
28,2656,0,0,0,11,1,1,2
29,2657,0,0,0,2,1,1,2
30,2658,0,0,0,4,1,1,2
31,2659,0,0,0,11,1,1,2
32,2660,0,0,0,11,1,1,2
33,2661,0,2,0,11,1,1,2
34,2662,0,1,0,18,1,1,2
35,2663,100,1,0,72,1,1,0
36,2664,100,0,0,4,1,1,2
37,2665,100,1,0,9,1,1,2
38,2666,100,0,0,26,1,1,2
39,2667,0,0,0,12,1,1,2
40,2668,50,2,0,2,12,11,0
41,2669,0,0,0,4,1,1,2
42,2670,0,0,0,4,1,1,2
43,2671,0,1,0,4,1,1,2
44,2672,0,0,0,11,1,1,2
45,2673,0,0,0,3,1,1,0
46,2674,0,0,0,2,1,1,2
47,2675,0,0,0,9,1,1,2
48,2676,100,2,0,2,1,1,2
49,2677,100,0,0,42,1,1,2
50,2678,100,1,0,9,1,1,2
51,2679,0,0,0,2,1,1,2
52,2680,0,0,0,11,1,1,2
53,2681,0,0,0,2,1,1,2
54,2682,0,0,0,2,1,1,2
55,2683,100,0,0,11,1,1,2
56,2684,100,0,0,4,1,1,2
57,2685,100,0,0,9,1,1,0
58,2686,0,1,0,11,44,43,2
59,2687,0,0,0,2,1,1,2

In [6]:
processed_train_data = dataset_processing(train_data)
processed_test_data = dataset_processing(test_data)

In [7]:
processed_train_data

,UID,col_4,y,col_0_numerical,col_0_string,col_1_numerical,col_1_string,col_2_numerical,col_2_string,col_3_numerical,col_3_string,col_5_numerical,col_5_string,col_6_numerical,col_6_string
0,0,100,237000,0,A,0,B,2,C,1,D,1,E,2,F
1,1,100,86193,1,A,0,B,11,C,4,D,4,E,2,F
2,2,0,169200,0,A,0,B,18,C,0,D,0,E,2,F
3,3,100,58000,2,A,0,B,11,C,1,D,1,E,2,F
4,4,0,235000,0,A,0,B,67,C,1,D,1,E,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623,2623,0,102100,1,A,0,B,2,C,1,D,1,E,2,F
2624,2624,0,129300,0,A,0,B,8,C,1,D,1,E,2,F
2625,2625,100,275300,0,A,0,B,7,C,1,D,1,E,2,F
2626,2626,100,150000,0,A,0,B,11,C,1,D,1,E,2,F
2627,2627,100,191475,0,A,0,B,2,C,1,D,1,E,2,F

In [8]:
processed_train_data.columns

Index(['UID', 'col_4', 'y', 'col_0_numerical', 'col_0_string',
       'col_1_numerical', 'col_1_string', 'col_2_numerical', 'col_2_string',
       'col_3_numerical', 'col_3_string', 'col_5_numerical', 'col_5_string',
       'col_6_numerical', 'col_6_string'],
      dtype='object')

In [9]:
proc2 = processed_train_data.drop(columns=[x for x in processed_train_data.columns if "string" in x])

In [10]:
proc2 = rm_spaces(proc2)

In [ ]:
# def proces_empty_string_value(dataframe):
#     for c in dataframe.columns:
#         dataframe.loc[dataframe[c] == '', c] = "-1"
#     return dataframe

In [11]:
for c in proc2.columns:
    proc2.loc[proc2[c] == '', c] = "-1"

In [12]:
for c in proc2.columns:
    proc2[c] = proc2[c].astype(int)

In [16]:
for c in proc2.columns:
    if c != "y" and  c != "UID":
        print("Printing for: ",c,"\n",proc2[c].value_counts())

Printing for:  col_4
 col_4
0      1343
100    1149
50      136
Name: count, dtype: int64
Printing for:  col_0_numerical
 col_0_numerical
 0    1679
 1     542
 2     195
-1     139
 3      73
Name: count, dtype: int64
Printing for:  col_1_numerical
 col_1_numerical
 0    2518
-1      86
 3      11
 2       7
 1       6
Name: count, dtype: int64
Printing for:  col_2_numerical
 col_2_numerical
11    728
2     587
4     416
9     204
15     77
     ...
62      1
63      1
92      1
76      1
66      1
Name: count, Length: 90, dtype: int64
Printing for:  col_3_numerical
 col_3_numerical
1     2093
4      116
0       61
2       60
6       54
      ...
32       1
71       1
75       1
66       1
73       1
Name: count, Length: 68, dtype: int64
Printing for:  col_5_numerical
 col_5_numerical
1     2120
4      121
2       62
0       57
6       44
      ...
45       1
47       1
20       1
67       1
62       1
Name: count, Length: 67, dtype: int64
Printing for:  col_6_numerical
 col_6_numerical
 2    2104
 0     309
-1     112
 1     103
Name: count, dtype: int64

In [24]:
print(proc2["col_6_numerical"].value_counts())

col_6_numerical
 2    2104
 0     309
-1     112
 1     103
Name: count, dtype: int64

In [15]:
proc2.head(60)

,UID,col_4,y,col_0_numerical,col_1_numerical,col_2_numerical,col_3_numerical,col_5_numerical,col_6_numerical
0,0,100,237000,0,0,2,1,1,2
1,1,100,86193,1,0,11,4,4,2
2,2,0,169200,0,0,18,0,0,2
3,3,100,58000,2,0,11,1,1,2
4,4,0,235000,0,0,67,1,1,2
5,5,100,170000,0,0,11,1,1,2
6,6,100,183600,0,0,11,1,1,0
7,7,0,100000,0,0,4,1,1,2
8,8,100,175000,0,0,2,1,1,2
9,9,100,136000,0,0,2,1,1,2
10,10,50,55685,1,0,52,8,24,0
11,11,0,175000,0,0,7,1,1,2
12,12,0,120000,1,0,36,1,1,2
13,13,0,150000,1,0,11,1,1,2
14,14,0,152000,0,0,2,1,1,2
15,15,0,72000,1,0,4,1,1,2
16,16,0,140000,0,0,4,1,1,2
17,17,50,130000,1,0,2,1,1,0
18,18,100,248400,0,0,57,2,2,2
19,19,100,212200,0,0,9,1,1,2
20,20,0,127467,-1,0,54,4,4,2
21,21,100,129000,2,0,11,1,1,0
22,22,100,201000,0,0,4,1,1,2
23,23,50,100000,2,0,41,1,1,0
24,24,100,40000,2,0,44,41,19,2
25,25,0,270703,0,0,11,1,1,2
26,26,0,139000,0,0,4,1,1,2
27,27,100,180000,1,0,15,1,1,0
28,28,50,62649,1,0,18,12,11,2
29,29,0,189650,0,0,9,1,1,2
30,30,50,40570,0,-1,39,6,6,0
31,31,0,12103,1,0,11,53,52,2
32,32,0,9727,2,0,2,6,6,0
33,33,0,105000,1,0,2,1,1,2
34,34,0,187000,0,0,4,1,1,2
35,35,0,128000,0,0,4,1,1,2
36,36,100,17684,2,0,2,48,48,2
37,37,100,170000,0,0,40,1,1,0
38,38,0,20000,1,0,59,66,63,1
39,39,0,150000,-1,0,4,1,1,2
40,40,100,140000,0,0,4,1,1,-1
41,41,0,139500,0,0,11,1,1,2
42,42,100,145000,0,0,2,1,1,2
43,43,100,200100,0,0,11,1,1,-1
44,44,100,104000,0,0,2,1,1,2
45,45,50,29751,2,0,2,6,6,0
46,46,0,100000,2,0,2,1,1,1
47,47,100,102663,0,0,7,4,4,2
48,48,100,210000,0,0,18,1,1,2
49,49,100,120000,0,0,11,1,1,2
50,50,0,168400,0,-1,27,1,1,2
51,51,100,280700,-1,0,9,1,1,2
52,52,100,100000,1,0,11,1,1,0
53,53,100,191475,0,0,2,1,1,2
54,54,50,60000,1,0,29,0,36,2
55,55,0,260000,0,0,3,1,1,0
56,56,0,150000,0,0,7,1,1,-1
57,57,0,204500,0,0,9,1,1,2
58,58,100,236000,3,0,11,1,1,-1
59,59,0,60000,1,0,4,1,1,2

In [26]:
proc2.to_csv("data/cleaned_train_iffat.csv",index=False)

In [7]:
processed_test_data.to_csv("data/cleaned_test_tonmoy.csv",index=False)