In [1]:
cd ../

e:\Project\ReliSource

In [2]:
import pandas as pd

train_data =  pd.read_csv('data/cleaned_train_iffat.csv')
test_data =  pd.read_csv('data/test.csv')
train_data

,UID,col_4,y,col_0_numerical,col_1_numerical,col_2_numerical,col_3_numerical,col_5_numerical,col_6_numerical
0,0,100,237000,0,0,2,1,1,2
1,1,100,86193,1,0,11,4,4,2
2,2,0,169200,0,0,18,0,0,2
3,3,100,58000,2,0,11,1,1,2
4,4,0,235000,0,0,67,1,1,2
...,...,...,...,...,...,...,...,...,...
2623,2623,0,102100,1,0,2,1,1,2
2624,2624,0,129300,0,0,8,1,1,2
2625,2625,100,275300,0,0,7,1,1,2
2626,2626,100,150000,0,0,11,1,1,2
2627,2627,100,191475,0,0,2,1,1,2

In [18]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Create a regression model (e.g., Linear Regression)
model = LinearRegression()

# Initialize RFE
rfe = RFE(model, n_features_to_select=5)  # Specify the number of features to keep

X = train_data.drop(columns=["y"])
# Fit RFE on your data
rfe.fit(X, train_data["y"])

# Get selected features
selected_features = X.columns[rfe.support_]
selected_features

Index(['col_0_numerical', 'col_1_numerical', 'col_3_numerical',
       'col_5_numerical', 'col_6_numerical'],
      dtype='object')

In [25]:
sel = ['col_0_numerical', 'col_1_numerical', 'col_3_numerical',
       'col_5_numerical', 'col_6_numerical',"y"]
sel

['col_0_numerical',
 'col_1_numerical',
 'col_3_numerical',
 'col_5_numerical',
 'col_6_numerical',
 'y']

In [6]:
train_data.columns

Index(['UID', 'col_4', 'y', 'col_0_numerical', 'col_1_numerical',
       'col_2_numerical', 'col_3_numerical', 'col_5_numerical',
       'col_6_numerical'],
      dtype='object')

In [27]:
out = train_data.drop(columns=[x for x in train_data.columns if not x in sel])

In [28]:
out.to_csv("data/cleaned_rfe.csv")